<div class="wrap">
  <div class="container">
    <nz-spin [nzDelay]="300" [nzSpinning]="loading">
      <div class="top tc">
        <div class="header">
          <img src="assets/img/xtjjy.png" />
        </div>
        <div class="desc mt10">
          <h2>测试测试测试测试</h2>
        </div>
      </div>
      <!-- 登录错误提示 start -->
      <div nz-row>
        <nz-alert nzType='error' class="err-tips" nzShowIcon
          [ngStyle]="errorMsg ? {display:'block'} : {display: 'none'}" nzMessage='{{errorMsg}}'>
        </nz-alert>
      </div>
      <!-- 登录错误提示 end -->
      <div nz-row nzJustify="center">
        <form nz-form [formGroup]="validateForm" class="login-form mt20" (ngSubmit)="registerForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入用户名!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" placeholder="用户名" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入手机号!">
              <nz-input-group nzPrefixIcon="mobile">
                <input type="text" nz-input formControlName="mobile" placeholder="手机号" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="请输入密码!">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="密码" name="maxlength" maxlength="8"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">注册</button>
        </form>
      </div>
    </nz-spin>

  </div>
</div>
