<nz-layout class="layout">
  <nz-sider>
    <ul nz-menu nzTheme="dark" *ngFor="let item of typeList" nzMode="inline">
      <li nz-submenu [nzTitle]="item.type">
        <ul>
          <li nz-menu-item *ngFor="let li of item.child">{{li.name}}</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>hello</nz-header>
    <nz-content>
      <div class="inner-content">
        hello
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
