<nz-spin [nzDelay]="300" [nzSpinning]="loading">
  <nz-layout class="layout">
    <nz-sider>
      <div class="logo"><img src="assets/img/xtjjy.png"/></div>
      <ul nz-menu nzTheme="dark" *ngFor="let item of typeList" nzMode="inline">
        <li nz-submenu [nzOpen]="true" [nzTitle]="item.type">
          <ul>
            <li nz-menu-item [nzSelected]="li.name===selectType" (click)="setSelectType(li.name)"
                *ngFor="let li of item.child">{{li.name}}</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-header>
        <p class="title">{{quesTitle}}</p>
        <div>
          <div class="totalNum">
            <nz-button-group>
              <button nz-button (click)="nextQues(false)" nzType="primary"><i nz-icon nzType="left"></i>上一题</button>
              <button [style.width.px]="70" nz-button nzType="default">{{sortNum}}</button>
              <button nz-button (click)="nextQues(true)" nzType="primary">下一题<i nz-icon nzType="right"></i></button>
              <button [style.width.px]="70" nz-button nzType="default">{{totalNum}}</button>
            </nz-button-group>
          </div>
          <div class="search">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input (change)="search(sort.value)" type="text" #sort [value]="sortNum" nz-input placeholder="搜索"/>
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button (click)="search(sort.value)" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </div>
          <button style="margin-right: 20px" nz-button nzType="primary" (click)="showModal()" nzDanger>问题反馈</button>
          <a href="assets/常见问题.pdf" target="_blank">
            <button nz-button nzType="primary" (click)="jump()" nzDanger>帮助</button>
          </a>
          <div class="user-dropdown">
            <a class="user-info" nz-dropdown [nzDropdownMenu]="headerMenu" [nzPlacement]="'bottomRight'" [nzOverlayStyle]="{top:'18px' }">
              <nz-avatar class="avatar" [nzSize]="32" nzIcon="user" [nzSrc]="avatar"></nz-avatar>
              <a class="text">{{userName}}</a>
            </a>
            <nz-dropdown-menu #headerMenu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item> <i nz-icon nzType="setting" nzTheme="outline"></i> 设置
                </li>
                <!-- <li nz-menu-item> <i nz-icon nzType="user" nzTheme="outline"></i> 个人中心
                </li> -->
                <li nz-menu-item (click)="editPassWord()"> <i nz-icon nzType="lock" nzTheme="outline"></i>
                  修改密码
                </li>
                <li nz-menu-item (click)="loginout()"> <i nz-icon nzType="export" nzTheme="outline"></i> 退出
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div>
          <nz-card *ngIf="problemList.length>0" [nzBordered]="false" nzTitle="问题反馈：" [nzExtra]="extraTemplate">
            <div *ngFor="let item of showProblemList">
              <p>问题类型：{{item.QuesType}}</p>
              <p>问题描述：{{item.Content}}</p>
              <nz-divider></nz-divider>
            </div>
            <ng-template #extraTemplate>
              <a (click)="more()">{{moreNum === 1 ? '更多' : '更少'}}</a>
            </ng-template>
          </nz-card>
          <nz-card *ngIf="questionMaterial.length>0" [nzBordered]="false" nzTitle="资料：">
            <div [innerHTML]="questionMaterial | bypassSecurityTrustHtml"></div>
          </nz-card>
          <nz-card [nzBordered]="false" [nzTitle]="'题干：'+'(ID:'+quesId+')'">
            <div [innerHTML]="questionStem | bypassSecurityTrustHtml"></div>
          </nz-card>
          <nz-card *ngIf="parseList[0].data!=='[]'&& parseList[0].data.length>0" [nzBordered]="false" [nzTitle]="parseList[0].label+'：'">
            <div style="margin-bottom: 10px">
              <nz-radio-group (ngModelChange)="switchError($event)" [ngModel]="parseList[0].error" nzButtonStyle="solid">
                <label nz-radio-button [nzValue]="false">正确</label>
                <label nz-radio-button [nzValue]="true">错误</label>
              </nz-radio-group>
            </div>
            <div [innerHTML]="parseList[0].data | bypassSecurityTrustHtml"></div>
          </nz-card>
          <nz-card *ngIf="parseList[1].data!=='[]'&& parseList[1].data.length>0" [nzBordered]="false" [nzTitle]="parseList[1].label+'：'">
            <div  style="margin-bottom: 10px">
              <nz-radio-group (ngModelChange)="switchError($event)" [ngModel]="parseList[1].error" nzButtonStyle="solid">
                <label nz-radio-button [nzValue]="false">正确</label>
                <label nz-radio-button [nzValue]="true">错误</label>
              </nz-radio-group>
            </div>
            <div [innerHTML]="parseList[1].data | bypassSecurityTrustHtml"></div>
          </nz-card>
          <nz-card *ngIf="parseList[2].data!=='[]'&& parseList[2].data.length>0" [nzBordered]="false" [nzTitle]="parseList[2].label+'：'">
            <div  style="margin-bottom: 10px">
              <nz-radio-group (ngModelChange)="switchError($event)" [ngModel]="parseList[2].error" nzButtonStyle="solid">
                <label nz-radio-button [nzValue]="false">正确</label>
                <label nz-radio-button [nzValue]="true">错误</label>
              </nz-radio-group>
            </div>
            <div [innerHTML]="parseList[2].data | bypassSecurityTrustHtml"></div>
          </nz-card>
          <nz-card *ngIf="parseList[3].data!=='[]'&& parseList[3].data.length>0" [nzBordered]="false" [nzTitle]="parseList[3].label+'：'">
            <div  style="margin-bottom: 10px">
              <nz-radio-group (ngModelChange)="switchError($event)" [ngModel]="parseList[3].error" nzButtonStyle="solid">
                <label nz-radio-button [nzValue]="false">正确</label>
                <label nz-radio-button [nzValue]="true">错误</label>
              </nz-radio-group>
            </div>
            <div [innerHTML]="parseList[3].data | bypassSecurityTrustHtml"></div>
          </nz-card>
          <nz-card *ngIf="parseList[4].data!=='[]'&& parseList[4].data.length>0" [nzBordered]="false" [nzTitle]="parseList[4].label+'：'">
            <div [innerHTML]="parseList[4].data | bypassSecurityTrustHtml"></div>
          </nz-card>
        </div>
        <div>
          <nz-card [nzBordered]="false" nzTitle="选项：">
            <div cdkDropList class="example-list" (cdkDropListDropped)="moveOption($event)">
              <div class="example-box" [style.color]="item.option[0].color" *ngFor="let item of options; let i=index"
                   cdkDrag>{{i | optionLabel}}:
                <div [innerHTML]="item.option | bypassSecurityTrustHtml"></div>
              </div>
            </div>
          </nz-card>
          <nz-card [nzBordered]="false" [nzTitle]="editHeader">
            <nz-card-tab>
              <nz-tabset nzSize="large" [nzSelectedIndex]="tab" (nzSelectedIndexChange)="changeTab($event)">
                <nz-tab *ngFor="let item of parseList" [nzTitle]="label">
                  <ng-template #label>
                    {{ item.label }}
                    <i *ngIf="item.data.length<=0|| item.data==='[]'" nz-icon nzType="plus-circle"
                       nzTheme="outline"></i>
                  </ng-template>
                </nz-tab>
              </nz-tabset>
            </nz-card-tab>
            <editor id="editorID" [init]="editorConfig" [(ngModel)]="parseList[tab].edit"></editor>
            <ng-template #editHeader>
              <div class="editHeader">
                <!--suppress JSIncompatibleTypesComparison -->
                <span>{{parseList[tab].data.length <= 0 || parseList[tab].data === '[]' || tab ===4  ? '新增' : '修改'}}{{parseList[tab].label}}：</span>
                <div>
                  <button (click)="updateParse()" nz-button nzType="primary">保存</button>
                </div>
              </div>
            </ng-template>
          </nz-card>
        </div>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="问题反馈" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
          <ng-container *nzModalContent>
            <nz-radio-group [(ngModel)]="problemType" nzButtonStyle="solid">
              <label nz-radio-button nzValue="重复问题">重复问题</label>
              <label nz-radio-button nzValue="题干问题">题干问题</label>
              <label nz-radio-button nzValue="选项问题">选项问题</label>
              <label nz-radio-button nzValue="解析问题">解析问题</label>
              <label nz-radio-button nzValue="其他">其他</label>
            </nz-radio-group>
            <textarea
              style="margin-top: 20px"
              maxlength="120"
              nz-input
              [(ngModel)]="problemText"
              placeholder="请在120字内描述问题"
              [nzAutosize]="{ minRows: 5, maxRows: 5 }"
            ></textarea>
          </ng-container>
        </nz-modal>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-spin>
